<svg width="412" height="634" viewBox="0 0 412 634" fill="none" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
  <rect x="-4" y="582.279" width="595.213" height="322.706" rx="29.2826" transform="rotate(-80.0605 -4 582.279)" fill="#000000" id="card-black-4"/>
</svg>
