extends ../base.pug 

block variables
  - var template = "home"
  - var message = `check out this website for @ourpaydayHQ by \n \n @theajanwachuku et  @goody__boy \n \n https://payday-card-unboring.vercel.app/?ref=twitter`
  - var tweet = encodeURI(message)
  - var hashtags = "#unboring"
  - var tweetHref = "https://twitter.com/theAjaNwachuku/status/1658156989690654722"

block content 
  main.home#smooth-content
    section.home__hero
      .home__hero__wrapper
        .home__hero__cards
          figure
            img(src="images/blue.svg" alt="")
          figure
            img(src="images/black.svg" alt="")
          figure
            img(src="images/green.svg" alt="")


        .home__text 
          p.home__text__pre introducing
          h1.home__text__heading Payday Virtual Cards.
          p.home__text__body because making money is no easy feat, so why make spending it a defeat?

        .home__download 
          include ../partials/store

    section.home__mall
      h2.home__mall__heading(data-feature) Make the world your mall.
      p.home__mall__body Shop at any store across the world, from the comfort of your own couch. No more limits or boundaries, just pure shopping bliss.
      .home__mall__illustration
        include ../partials/mall
      .home__mall__cards.variants
        include ../partials/unlockedCard.html

    section.home__super 
      h2.home__super__heading(data-feature) One super-card for every need.
      p.home__super__body Pay for all your favorite services, from Netflix to Spotify to Slack, and everything in between. We’ve got you covered.
      .home__super__illustration
        include ../partials/super
      .home__super__cards.variants
        include ../partials/unlockedCard.html
      figure.home__super__bg
        img(src="images/cape-bg.webp" alt="")

    section.home__lock 
      h2.home__lock__heading(data-feature) Your cards, your rules.
      p.home__lock__body Our Card Lock feature lets you lock and disable your cards whenever they're not being used, giving you the power to decide when and how your cards are active. 
      button.home__lock__button Lock Card
      canvas#rive
      .home__lock__illustration
        .home__lock__cards
          include ../partials/unlockedCard.html
        .home__locked__cards
          include ../partials/lockedCard.html



    aside.marker4
    aside.marker5

    section.home__footer(style="height: 0.1rem; padding-top:unset")
      h2.home__footer__heading Borderless payments, so you bother less.
      .home__download 
        include ../partials/store
      figure.home__footer__mockup
        img(src="images/mockup.webp" alt="")
        .home__footer__time #{`${new Date().toLocaleString("en-US", {hour: "numeric", minute: "numeric", hour12: false})}`}
        .home__footer__cards
          .home__footer__card
          .home__footer__card
        .home__footer__mainCard.variants
          include ../partials/unlockedCard.html
      .home__footer__foot 
        h3.home__footer__text Made w ❤️ for PayDay.
        p.home__footer__body (c) 2023 AJ X Goody. All Rights Reserved, all Wrongs Reversed.
        a.home__footer__text(href=tweetHref target='_blank' rel='noreferrer noopener') Show some love
          .home__footer__line
        h3.home__footer__text &nearr;

  .home__navigation
    nav
    nav
    nav
    nav
    nav
    nav












