.home__footer {
  padding-top: calc(6rem + 6rem);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: calc(102.8rem - 17rem) !important;

  .home__download {
    justify-content: center;
    left: 0;
    padding: unset;
    gap: 1rem;
    padding-top: 4rem;
    position: unset;
  }

  @include media("<phone") {
    margin-top: calc(87.4rem - 5.6rem);

    .home__download {
      padding-top: 3rem;
      transform: translateY(2rem);
    }
  }
}

.home__footer__heading {
  width: 67.7rem;
  margin: 0 auto;
  font-family: 'Aeonik';
  font-style: normal;
  font-weight: 500;
  font-size: 7.05534rem;
  line-height: 98.5%;
  text-align: center;
  letter-spacing: -0.015em;
  color: #141414;

  @include media("<phone") {
    width: 18.8rem;
    font-size: 3.2rem;
    transform: translateY(2rem);
  }
}

.home__footer__mockup {
  width: 49.982rem;
  position: relative;
  height: 45.6rem;
  padding-top: 10.3rem;
  margin: 0 auto;
  pointer-events: none;

  img {
    object-position: top;
  }

  @include media("<phone") {
    width: 31.168rem;
    height: 34.2rem;
    padding-top: 8.152rem;
  }
}

.home__footer__foot {
  min-height: calc(4.9rem + 4.9rem);
  width: 100%;
  background: #0F0F0F;
  display: flex;
  justify-content: space-between;
  gap: 0.992rem;
  height: 9rem;
  align-items: baseline;
  padding: 1.4rem 10.6rem 0.8rem;

  * {
    flex: 1;
    width: 33%;
  }

  @include media("<phone") {
    height: 18.2rem;
    flex-direction: column;
    padding: 2.054rem 0 0;
    gap: 1.746rem;
    justify-content: unset;
    position: relative;

    * {
      flex: unset
    }
  }
}

.home__footer__text {
  font-family: 'Aeonik';
  font-style: normal;
  font-weight: 500;
  font-size: 3.13rem;
  line-height: 98.5%;
  letter-spacing: -0.015em;
  color: #FFFFFF;

  &:nth-of-type(2) {
    flex: unset;
    font-size: 4.5rem;
    font-weight: 300;
    width: unset;
    transform: translateY(0.75rem);

    @include media("<phone") {
      position: absolute;
      top: 4.7rem;
      right: 9rem;
      font-size: 4rem;
    }

  }

  @include media("<phone") {
    width: 25rem;
    margin: 0 auto;
    text-align: center !important;
    font-size: 2.4rem;
  }
}

a.home__footer__text {
  text-align: right;
  text-underline-offset: 0.25em;
  position: relative;

  @include media("<phone") {
    text-decoration: underline;
    position: relative;
    right: 1rem;
  }
}

.home__footer__line {
  position: absolute;
  right: 0;
  bottom: -0.8rem;
  height: 0.1rem;
  width: 22.6rem;
  background: #FFFFFF;
  transform: scaleX(0);
  transform-origin: 0% 50%;

  @include media("<phone") {
    display: none;
  }

}

.home__footer__body {
  font-family: 'Aeonik';
  font-style: normal;
  font-weight: 300;
  font-size: 1.417rem;
  line-height: 99.5%;
  text-align: center;
  letter-spacing: -0.02em;
  color: #FFFFFF;

  @include media("<phone") {
    width: 21.5rem;
    position: absolute;
    bottom: 3.2rem;
    left: 8.8rem;
    font-size: 1.2rem;
    order: 3;
    text-align: center;
    display: flex;
  }
}

.home__footer__time {
  font-family: "SF Pro Display", sans-serif;
  position: absolute;
  top: 15.4rem;
  left: 7.85rem;
  font-size: 1.95rem;
  font-weight: 700;
  filter: drop-shadow(0rem 0rem 0.6rem #22222233);

  @include media("<phone") {
    top: 11.35rem;
    left: 4.95rem;
    font-size: 1.25rem;
  }
}

.home__footer__cards {
  width: 44.4rem;
  height: 19.6rem;
  position: absolute;
  top: 24.4rem;
  left: 2.8rem;
  display: flex;

  @include media ("<phone") {
    width: 27.8rem;
    height: 12.7rem;
    top: 17rem;
    left: 1.7rem;
  }
}

.home__footer__card:nth-of-type(1) {
  height: 100%;
  background: #F9F9F9;
  width: 3rem;
  border-radius: 0 1.7rem 1.7rem 0;

  @include media("<phone") {
    width: 1.5rem;
    border-radius: 0 1rem 1rem 0;
  }
}

.home__footer__card:nth-of-type(2) {
  height: 100%;
  background: #442BDF;
  width: 3.55rem;
  border-radius: 1.7rem 0 0 1.7rem;
  margin-left: auto;

  @include media("<phone") {
    width: 1.55rem;
    border-radius: 1rem 0 0 1rem;
  }
}

.home__footer__mainCard {
  opacity: 0;

  @include media("<phone") {
    position: absolute;
    top: 17.1rem;
    left: -0.2rem;
    height: 12.75rem;
    width: 31.661rem;
    opacity: 1;
    z-index: 1;

    svg {
      position: absolute;
      top: 0;
      width: inherit;
      height: inherit;
    }
  }
}