.home {}

.home__wrapper {}

.home__download {
  height: 4.34rem;
  padding-top: calc(2.1655vh + 2.1655rem);
  padding-right: 12.7rem;
  right: 0;
  display: flex;
  justify-content: flex-end;
  gap: 1.24rem;
  position: absolute;

  svg {
    height: 4.338rem;
    width: 13.48rem;
    border-radius: 0.775rem;
    display: block;
  }
}

.home__hero {
  height: calc(61.1vh + 61.1rem);

  .home__download {
    justify-content: center;
    left: 0;
    padding-top: unset;
    gap: 1.6rem;
    padding-right: unset;
    margin: calc(1.9vh + 1.9rem) 0;


    svg {
      height: 5.6rem;
      width: 17.4rem;
      border-radius: 1rem;
      display: block;
    }
  }
}

.home__hero__nav {
  padding-top: calc(4.048vh + 4.048rem - 1.25vh - 1.25rem);
  display: flex;
  margin: 0 10.9rem;
  justify-content: space-between;
  align-items: center;

  >svg {
    height: 4.2rem;
    width: 16.3rem;
    left: 109px;
    display: block;
  }
}

.home__hero__navDrop {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 7.4rem;
  width: 30.1rem;
  gap: 0.65rem;
  border-radius: 8.7rem;
  background: #F5F5F5;

  svg {
    height: 2.4rem;
    width: 2.4rem;
    display: block;
    margin-top: 1rem;
  }
}

.home__hero__navText {
  font-family: 'Aeonik';
  font-style: normal;
  font-weight: 500;
  font-size: 2.4rem;
  line-height: 98.5%;
  /* identical to box height, or 24px */

  letter-spacing: -0.015em;

  color: #1D1D1D;
}

.home__hero__cards {
  position: absolute;
  left: 0;
  width: 100%;
  top: calc(1vh + 1rem);
}

.home__hero__cards svg {
  position: absolute;
  display: block;

  &:nth-of-type(1) {
    width: calc(102.425rem * 0.85);
    height: calc(78rem * 0.835 * 0.85);
    left: -26.1rem;
    top: calc(10.5vh + 10.5rem);
  }

  &:nth-of-type(2) {
    top: calc(4.5vh + 4.5rem);
    width: 99.3605rem;
    height: 60.3605rem;
    right: -36.965rem;
  }

  &:nth-of-type(3) {
    top: calc(2.7vh + 2.7rem);
    width: 67.635rem;
    height: calc(72rem * 0.835);
    left: 72.5rem;
    top: calc(29.5vh + 29.5rem);
  }
}

.home__text {
  margin: calc(5.45vh + 5.45rem) auto 0;
  display: grid;
  justify-content: center;
}

.home__text__pre {
  font-family: 'Aeonik';
  font-style: normal;
  font-weight: 400;
  font-size: 2.4rem;
  line-height: 98.5%;
  text-align: center;
  /* identical to box height, or 24px */


  color: #141414;
  padding-right: 6.85rem;
  margin-bottom: -0.1rem;
}

.home__text__heading {
  font-family: 'Nohemi';
  font-style: normal;
  font-weight: 900;
  font-size: 12.1062rem;
  line-height: 95.5%;
  /* or 116px */

  text-align: center;
  letter-spacing: -0.01em;

  color: #141414;
  width: 80.5rem;
}

.home__text__body {
  font-family: 'Aeonik';
  font-style: normal;
  font-weight: 400;
  font-size: 2.27421rem;
  line-height: 98.5%;
  /* or 22px */

  text-align: center;
  letter-spacing: -0.015em;

  color: #141414;
  width: 45.2rem;
  margin: 0.9rem auto;
}

.home__hero__heading {
  width: 72.359rem;
  font-family: 'Aeonik';
  font-style: normal;
  font-weight: 400;
  font-size: 6.94439rem;
  line-height: 98.5%;
  /* or 68px */
  margin-top: 43.053rem;
  margin-bottom: 3.2rem;
  margin-left: 10.9rem;

  letter-spacing: -0.015em;

  color: #141414;

  span {
    font-weight: 500;
    margin-left: 0.5ch;
  }
}