.home__download {
  height: 4.34rem;
  padding-top: calc(2.1655rem + 2.1655rem);
  padding-right: 12.7rem;
  right: 0;
  display: flex;
  justify-content: flex-end;
  gap: 1.24rem;
  position: absolute;

  svg {
    height: 4.338rem;
    width: 13.48rem;
    border-radius: 0.775rem;
    display: block;
  }
}

.home {
  contain: paint;
}

.home__hero {
  height: calc(61.1rem + 61.1rem);

  @include media("<phone") {
    height: 80.2rem;
    padding-top: 6.055rem;
  }

  .home__download {
    justify-content: center;
    left: 0;
    padding-top: unset;
    gap: 1.6rem;
    padding-right: unset;
    margin: calc(1.9rem + 1.9rem) 0;

    @include media("<phone") {
      margin-top: unset;
    }

    svg {
      height: 5.6rem;
      width: 17.4rem;
      border-radius: 1rem;
      display: block;

      @include media("<phone") {
        height: 4.2769rem;
        width: 13.289rem;
        border-radius: 0.7637rem;
      }
    }
  }
}

.home__hero__nav {
  padding-top: calc(4.048rem + 4.048rem - 1.25rem - 1.25rem);
  display: flex;
  margin: 0 10.9rem;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  width: calc(100% - 15.4rem);
  z-index: 3;

  >img {
    height: 4.2rem;
    width: 16.3rem;
    display: block;
  }

  @include media("<phone") {
    padding-top: 2.6rem;
    margin-right: 3.5rem;
    margin-left: 4.2rem;
    position: absolute;
    top: 0;
    width: 31.3rem;
    z-index: 2;

    >img {
      width: 8.3rem;
      height: 2.142rem;
    }
  }
}

.home__hero__navDrop {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 7.4rem;
  width: 30.1rem;
  gap: 0.65rem;
  border-radius: 8.7rem;
  background: #F5F5F5;

  svg {
    height: 2.4rem;
    width: 2.4rem;
    display: block;
    margin-top: 1rem;
  }

  @include media("<phone") {
    height: 4.455rem;
    width: 11.8rem;
    border-radius: 5.255rem;

    svg {
      display: none;
    }
  }
}

.home__hero__navIcon {
  @include media("<phone") {
    display: none;
  }
}

.home__hero__navText {
  font-family: 'Aeonik';
  font-style: normal;
  font-weight: 500;
  font-size: 2.4rem;
  line-height: 98.5%;
  letter-spacing: -0.015em;
  color: #1D1D1D;

  @include media("<phone") {
    font-size: 1.4497rem;
  }

  &::after {
    content: " Payday";

    @include media("<phone") {
      content: "";
    }
  }
}

.home__hero__cards {
  position: absolute;
  left: 0;
  width: 100%;
  top: calc(1rem + 1rem);

  img {
    object-fit: contain;
  }
  @include media("<phone"){
    top: -1rem
  }
}

.home__hero__cards figure {
  position: absolute;
  display: block;

  &:nth-of-type(1) {
    width: 52.94rem;
    height: 30.62rem;
    top: 36.4rem;
    left: -19.5rem;
    transform: rotate(calc(180deg - 146.699deg));

    @include media("<phone") {
      width: 24.834rem;
      height: 14.805rem;
      left: 30.1rem;
      top: 53.6rem;
      border-radius: 1.3rem;
      transform: rotate(44.94deg);
      opacity: 1 !important;
      visibility: unset !important
    }
  }

  &:nth-of-type(2) {
    transform: rotate(342.2deg);
    left: 72.5rem;
    top: 74.4rem;
    width: 67.94rem;
    height: 36rem;

    @include media("<phone") {
      width: 27.307rem;
      height: 14.805rem;
      left: -13.3rem;
      top: 55.3rem;
      border-radius: 1.34342rem;
      transform: rotate(46.03deg);
      opacity: 1 !important;
      visibility: unset !important
    }
  }

  &:nth-of-type(3) {
    transform: rotate(40.2003deg);
    height: 32rem;
    width: 67.94rem;
    top: 20.5rem;
    left: 110.5rem;

    @include media("<phone") {
      width: 24.834rem;
      height: 14.05rem;
      left: 20rem;
      top: 6.1rem;
      border-radius: 1.343rem;
      transform: rotate(-17.59deg);
      opacity: 1 !important;
      visibility: unset !important
    }
  }
}

.home__text {
  margin: calc(5.45rem + 5.45rem + 7.4rem) auto 0;
  display: grid;
  justify-content: center;

  @include media("<phone") {
    margin-top: 19rem;
  }
}

.home__text__pre {
  font-family: 'Aeonik';
  font-style: normal;
  font-weight: 400;
  font-size: 2.4rem;
  line-height: 98.5%;
  text-align: center;
  color: #141414;
  padding-right: 6.85rem;
  margin-bottom: -0.1rem;

  @include media("<phone") {
    padding-right: 5.5rem;
    font-size: 1.8rem;
  }
}

.home__text__heading {
  font-family: 'Nohemi';
  font-style: normal;
  font-weight: 900;
  font-size: 12.1062rem;
  line-height: 95.5%;
  text-align: center;
  letter-spacing: -0.01em;
  color: #141414;
  width: 80.5rem;

  @include media("<phone") {
    width: 27.4rem;
    font-size: 7.36577rem;
    line-height: 96%;
    margin: 0 auto;
  }
}

.home__text__body {
  font-family: 'Aeonik';
  font-style: normal;
  font-weight: 400;
  font-size: 2.27421rem;
  line-height: 98.5%;
  text-align: center;
  letter-spacing: -0.015em;
  color: #141414;
  width: 45.2rem;
  margin: 0.9rem auto;

  @include media("<phone") {
    width: 19.4rem;
    font-size: 1.6rem;
    margin-bottom: 4rem;

  }
}

.home__hero__heading {
  width: 72.359rem;
  font-family: 'Aeonik';
  font-style: normal;
  font-weight: 400;
  font-size: 6.94439rem;
  line-height: 98.5%;
  margin-top: 43.053rem;
  margin-bottom: 3.2rem;
  margin-left: 10.9rem;
  letter-spacing: -0.015em;
  color: #141414;

  span {
    font-weight: 500;
    margin-left: 0.5ch;
  }
}