.layer {
  position: absolute;
  top: 0;
  pointer-events: none;
  --topB: #D82D35;
  --topW: #FBEEE5;
  --bottomW: #DCCABE;

  @include media("<phone") {
    z-index: 3;
  }
}

.layer__mall {
  position: absolute;
  height: 65.9rem;
  width: 86rem;
  left: 65.2rem;
  top: 146.2rem;

  @include media("<phone") {
    display: none;
  }

  img {
    position: absolute;
    top: 0;
    opacity: 0;

    &:nth-of-type(1) {
      width: 30.5rem;
      height: 2.9rem;
      left: 33.4rem;
      top: 14.7rem;
      opacity: 1;

      &[data-shop=ikea] {
        height: 3.7rem
      }

      &[data-shop=sephora] {
        height: 1.5rem;
        top: 15.4rem;
      }
    }

    &:nth-of-type(2) {
      width: 13.581rem;
      height: 13.581rem;
      left: 23.1rem;
      top: 3.7rem;
      opacity: 1;
    }

    &:nth-of-type(3) {
      width: 13.581rem;
      height: 13.581rem;
      left: 59.8rem;
      top: 33.2rem;
      opacity: 1;
    }

    &:nth-of-type(4) {
      width: 13.581rem;
      height: 13.581rem;
      left: 26rem;
      top: 40.8rem;
      opacity: 1;
    }

    &:nth-of-type(5) {
      width: 13.581rem;
      height: 13.581rem;
      left: 10.6rem;
      top: 28.2rem;
      opacity: 1;
    }
  }

  svg {
    width: 41.9rem;
    height: 9.83rem;
    left: 28rem;
    top: 18.323rem;
    position: absolute;
  }
}

.layer__super {
  position: absolute;
  top: 272rem;
  left: 85rem;
  width: 50rem;
  display: block;
  height: 53.1rem;

  @include media("<phone") {
    top: 181.2rem;
    left: 8.4rem;
    width: 22.447rem;
    height: 28.347rem;
  }

  svg {
    width: inherit;
    height: inherit;
    display: block;
  }
}

.layer__cards {
  position: absolute;
  top: 445.8rem;
  width: 100vw;
  height: 102.8rem;
  transform: translateY(33rem);

  img {
    padding: 20rem;
    transform: translateY(-25.6rem);
    height: 115%;
    position: absolute;
    opacity: 0;

    &:nth-of-type(1) {
      z-index: 1;
      opacity: 1;
    }
  }

  @include media("<phone") {
    top: 306.1rem;

    img {
      height: 87.4rem;
      transform: unset;
      padding: unset;
    }
  }
}