.home__mall {
  padding-top: calc(10vh + 10rem);
  position: relative;
}

.home__mall__heading {
  width: 50.1rem;
  margin-left: 21.7rem;
  // top: 1206px;

  font-family: 'Aeonik';
  font-style: normal;
  font-weight: 500;
  font-size: 7.05534rem;
  line-height: 98.5%;
  /* or 69px */

  letter-spacing: -0.015em;

  color: #141414;
}

.home__mall__body {
  width: 39.4rem;
  margin-left: 21.7rem;
  margin-top: calc(1.4vh + 1.4rem);

  font-family: 'Aeonik';
  font-style: normal;
  font-weight: 400;
  font-size: 2.5rem;
  line-height: 98.5%;
  /* or 25px */

  letter-spacing: -0.015em;

  color: #141414;
}

.home__mall__illustration {
  position: absolute;
  top: calc(10vh + 9.4rem);
  left: 98.421rem;
  width: 100%;
}

.home__mall__illustration svg {
  position: absolute;

  bottom: 0;

  &:nth-of-type(1) {
    width: 30.746rem;
    height: 55.9rem;
    top: 0;
  }

  &:nth-of-type(2) {
    top: calc(0.85vh + 0.85rem);
    left: 10.906rem;
    height: 2.3rem;
    width: 8.947rem;

  }

  &:nth-of-type(3) {
    height: 9.83rem;
    width: 41.9rem;
    top: calc(3.0615vh + 3.0615rem);
    left: -5.221rem;
  }

  &:nth-of-type(4) {
    height: 2.66rem;
    width: 53.3rem;
    border-radius: 0.2rem;
    left: -11.424rem;
    top: 53.68rem;
  }

  &:nth-of-type(5) {
    height: 0.1rem;
    width: 58.2rem;
    top: 56.5rem;
    left: calc(-2.45rem - 11.424rem);
  }
}