.home__super {
  padding-top: calc(10vh + 10rem);
  position: relative;

  @include media("<phone") {
    padding-top: calc(4.45rem + 4.45vh * 1.2);
  }
}

.home__super__heading {
  width: 50.1rem;
  margin-left: 21.7rem;
  // top: 1206px;

  font-family: 'Aeonik';
  font-style: normal;
  font-weight: 500;
  font-size: 7.05534rem;
  line-height: 98.5%;
  /* or 69px */

  letter-spacing: -0.015em;

  color: #141414;

  @include media("<phone") {
    width: 26.7rem;
    font-size: 4.5rem;
    margin-left: 4.2rem;
    margin-top: calc(17.3rem + 17.3vh * 1.2 + 5.6rem);
  }
}

.home__super__body {
  width: 39.4rem;
  margin-left: 21.7rem;
  margin-top: calc(1.4vh + 1.4rem);

  font-family: 'Aeonik';
  font-style: normal;
  font-weight: 400;
  font-size: 2.5rem;
  line-height: 98.5%;
  /* or 25px */

  letter-spacing: -0.015em;

  color: #141414;

  @include media("<phone") {
    width: 26.2rem;
    font-size: 1.6rem;
    margin-left: 4.2rem;
    margin-top: 2.1rem
  }
}

.home__super__illustration {
  position: absolute;
  top: calc(6.2vh + 6.2rem);
  left: 88.7rem;
  height: 59rem;
  width: 42.257rem;

  @include media("<phone") {
    left: -1.5rem;
    transform: scale(0.525);
    top: 0;
  }
}

.home__super__illustration svg {
  position: absolute;

  bottom: 0;



  &:nth-of-type(1) {
    height: 59rem;
    width: 42.257rem;

    path {
      filter: url(#warp-filter-0);
    }
  }

  &:nth-of-type(2) {
    height: 5rem;
    width: 5rem;
    left: -0.9rem;
    top: 5.231rem;
  }

  &:nth-of-type(3) {
    height: 3.29rem;
    width: 10.7rem;
    left: 2.4rem;
    top: calc(-2.308rem - 3.29rem);
  }

  &:nth-of-type(4) {
    height: 5rem;
    width: 5rem;
    left: 18.6rem;
    top: -12.55rem;
  }

  &:nth-of-type(5) {
    height: 2.71rem;
    width: 7.2rem;
    right: 2.357rem;
    top: calc(-2.308rem - 3.29rem);
  }


  &:nth-of-type(6) {
    height: 5rem;
    width: 5rem;
    right: -0.843rem;
    top: 5.231rem;
  }
}